src/client.pug
extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Клиентская поддержка
  block content-top
    h1 Клиентская поддержка
    hr
    p
      | Мы разработали уникальную систему работы в рамках этой услуги, при которой за каждым нашим клиентом закрепляется
      | свой специалист, и Вы оплачиваете реальную работу по факту ее выполнения.

  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 35 000 руб.
      .aside__section
        .aside__header Скачать:
        .aside__doc-list.doc-list
          a.doc-list__item.doc-list__item--round(href='#')
            span test
          a.doc-list__item.doc-list__item--pc(href='#')
            span Документы
          a.doc-list__item.doc-list__item--doc(href='#')
            span  Договор
  block content
    h2 Возможные тарифы:
    .client-tariffs.row
      .tariff
        .tariff__title — Тариф 1 —
        .tariff__hour  35 часов
        .tarrif__text работы исполнителей в месяц
      .tariff
        .tariff__title — Тариф 2 —
        .tariff__hour 50 часов
        .tarrif__text работы исполнителей в месяц
      .tariff
        .tariff__title — Тариф 3 —
        .tariff__hour 75 часов
        .tarrif__text работы исполнителей в месяц
    h2 Работы выполняемые в рамках услуги:
    .work-list.row
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-01.png')
        .work-list__item-title Внесение изменений
        .work-list__item-text Бесплатное внесение изменений на сайт в объеме трудозатрат одного специалиста
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-02.png')
        .work-list__item-title Контроль работоспособности
        .work-list__item-text Непрерывный мониторинг работы сайта и его восстановление в случае технических сбоев
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-03.png')
        .work-list__item-title Архивная копия сайта
        .work-list__item-text Еженедельное полное копирование данных сайта, хранению архивных копий в течении одного месяца
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-04.png')
        .work-list__item-title Антивирус
        .work-list__item-text Мониторинг и выявление вирусных программ, а так же работы по удалению вирусов
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-05.png')
        .work-list__item-title Управление доменом
        .work-list__item-text Контроль своевременной оплаты, продление доменных имен
      .work-list__item.col-md-4.col-sm-12
        .work-list__item-img
          img(src='img/template/ico.work-06.png')
        .work-list__item-title Восстановление
        .work-list__item-text Работа по восстановлению сайта, в случае частичной устраты его работоспособности
    .client-promo
      .client-promo__text
        h2  Как ставятся задачи?
        p Задачи ставятся в формате приближенном к ТЗ. Это осуществляется через систему управления проектами из любой точки мира.
      .client-promo__img
        img(src='/img/client-01.png')
    .client-report
      .client-report__text
        | Наши заказчики получают <i class='imp'>еженедельные отчеты</i>
        | по состоянию сайта и выполненным задачам.
      a.btn--white Пример отчета
    .like-h2 Ответы на вопросы
    .faq.faq--type-2
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p Какие задачи не выполняются?
        .faq__item-content
          p
            | Вебмастера, Дизайнеры, Копирайтеры выполняют <span class='imp'>любые</span> задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: <span class='imp'>ASP, Perl, Flash, Питон, Ruby.</span>
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  Переносятся ли часы или они сгорают?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle.faq__item-heading--left-p  В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
  block content-bottom
    include ./layout/block/portfolio

build/client.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиентская поддержка
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__top"><a class="humburger js-hmb" href="#">Закрыть</a><a class="site-header__logo" href="/"><img src="/img/template/logo.png"></a></div>
      <div class="site-header__menu-wrapper js-main-menu">
        <ul class="main-menu">
          <li><a class="main-menu__tile main-menu__tile--site" href="/site.html">Сайт для продвижения</a></li>
          <li><a class="main-menu__tile main-menu__tile--adaptive" href="/adaptive.html">Адаптивная верстка</a></li>
          <li class="is-parent"><a class="main-menu__tile main-menu__tile--support" href="#">Техподдержка</a>
            <ul class="main-menu__second-lvl">
              <li><a class="main-menu__child-link" href="/base.html"><span>Базовая поддержка</span></a></li>
              <li><a class="main-menu__child-link" href="/client.html"><span>Клиентская поддержка</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="additional-menu">
          <li><a class="additional-menu__link" href="#"><span>Мониторинг <br> ошибок и вирусов</span></a></li>
          <li><a class="additional-menu__link" href="#"><span>Usability-аудит <br>И внедрение</span></a></li>
          <li><a class="additional-menu__link" href="/portfolio.html"><span>Портфолио</span></a></li>
          <li><a class="additional-menu__link" href="/documents.html"><span>Документы</span></a></li>
          <li><a class="additional-menu__link" href="/faq.html"><span>F.A.Q.</span></a></li>
        </ul>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <h1>Клиентская поддержка</h1>
        <hr>
        <p>
          Мы разработали уникальную систему работы в рамках этой услуги, при которой за каждым нашим клиентом закрепляется
          свой специалист, и Вы оплачиваете реальную работу по факту ее выполнения.
        </p>
        <div class="aside">
          <div class="aside__section">
            <div class="aside__header">Средняя стоимость:</div>
            <div class="aside__price">
              <div class="price">от 35 000 руб.</div>
            </div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Скачать:</div>
            <div class="aside__doc-list doc-list"><a class="doc-list__item doc-list__item--round" href="#"><span>test</span></a><a class="doc-list__item doc-list__item--pc" href="#"><span>Документы</span></a><a class="doc-list__item doc-list__item--doc" href="#"><span> Договор</span></a></div>
          </div>
        </div>
        <h2>Возможные тарифы:</h2>
        <div class="client-tariffs row">
          <div class="tariff">
            <div class="tariff__title">— Тариф 1 —</div>
            <div class="tariff__hour"> 35 часов</div>
            <div class="tarrif__text">работы исполнителей в месяц</div>
          </div>
          <div class="tariff">
            <div class="tariff__title">— Тариф 2 —</div>
            <div class="tariff__hour">50 часов</div>
            <div class="tarrif__text">работы исполнителей в месяц</div>
          </div>
          <div class="tariff">
            <div class="tariff__title">— Тариф 3 —</div>
            <div class="tariff__hour">75 часов</div>
            <div class="tarrif__text">работы исполнителей в месяц</div>
          </div>
        </div>
        <h2>Работы выполняемые в рамках услуги:</h2>
        <div class="work-list row">
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-01.png"></div>
            <div class="work-list__item-title">Внесение изменений</div>
            <div class="work-list__item-text">Бесплатное внесение изменений на сайт в объеме трудозатрат одного специалиста</div>
          </div>
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-02.png"></div>
            <div class="work-list__item-title">Контроль работоспособности</div>
            <div class="work-list__item-text">Непрерывный мониторинг работы сайта и его восстановление в случае технических сбоев</div>
          </div>
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-03.png"></div>
            <div class="work-list__item-title">Архивная копия сайта</div>
            <div class="work-list__item-text">Еженедельное полное копирование данных сайта, хранению архивных копий в течении одного месяца</div>
          </div>
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-04.png"></div>
            <div class="work-list__item-title">Антивирус</div>
            <div class="work-list__item-text">Мониторинг и выявление вирусных программ, а так же работы по удалению вирусов</div>
          </div>
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-05.png"></div>
            <div class="work-list__item-title">Управление доменом</div>
            <div class="work-list__item-text">Контроль своевременной оплаты, продление доменных имен</div>
          </div>
          <div class="work-list__item col-md-4 col-sm-12">
            <div class="work-list__item-img"><img src="img/template/ico.work-06.png"></div>
            <div class="work-list__item-title">Восстановление</div>
            <div class="work-list__item-text">Работа по восстановлению сайта, в случае частичной устраты его работоспособности</div>
          </div>
        </div>
        <div class="client-promo">
          <div class="client-promo__text">
            <h2> Как ставятся задачи?</h2>
            <p>Задачи ставятся в формате приближенном к ТЗ. Это осуществляется через систему управления проектами из любой точки мира.</p>
          </div>
          <div class="client-promo__img"><img src="/img/client-01.png"></div>
        </div>
        <div class="client-report">
          <div class="client-report__text">
            Наши заказчики получают <i class='imp'>еженедельные отчеты</i>
            по состоянию сайта и выполненным задачам.
          </div><a class="btn--white">Пример отчета</a>
        </div>
        <div class="like-h2">Ответы на вопросы</div>
        <div class="faq faq--type-2">
          <div class="faq__item">
            <div class="faq__item-heading js-toggle faq__item-heading--left-p">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                Вебмастера, Дизайнеры, Копирайтеры выполняют <span class='imp'>любые</span> задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: <span class='imp'>ASP, Perl, Flash, Питон, Ruby.</span>
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle faq__item-heading--left-p"> Переносятся ли часы или они сгорают?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle faq__item-heading--left-p"> В чем Преимущество и Выгода базовой поддержки?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
        </div>
        <div class="portfolio-anons">
          <div class="row center-xs">
            <div class="col"><a class="btn--red" href="#">Смотреть портфолио</a></div>
          </div>
          <div class="portfolio-anons__list"><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-01.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-02.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-03.png"></a></div>
        </div>
      </div>
    </div>
    <!--block footer-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
