build/documents.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документы
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__top"><a class="humburger js-hmb" href="#">Закрыть</a><a class="site-header__logo" href="/"><img src="/img/template/logo.png"></a></div>
      <div class="site-header__menu-wrapper js-main-menu">
        <ul class="main-menu">
          <li><a class="main-menu__tile main-menu__tile--site" href="/site.html">Сайт для продвижения</a></li>
          <li><a class="main-menu__tile main-menu__tile--adaptive" href="/adaptive.html">Адаптивная верстка</a></li>
          <li class="is-parent"><a class="main-menu__tile main-menu__tile--support" href="#">Техподдержка</a>
            <ul class="main-menu__second-lvl">
              <li><a class="main-menu__child-link" href="/base.html"><span>Базовая поддержка</span></a></li>
              <li><a class="main-menu__child-link" href="/client.html"><span>Клиентская поддержка</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="additional-menu">
          <li><a class="additional-menu__link" href="#"><span>Мониторинг <br> ошибок и вирусов</span></a></li>
          <li><a class="additional-menu__link" href="#"><span>Usability-аудит <br>И внедрение</span></a></li>
          <li><a class="additional-menu__link" href="/portfolio.html"><span>Портфолио</span></a></li>
          <li><a class="additional-menu__link" href="/documents.html"><span>Документы</span></a></li>
          <li><a class="additional-menu__link" href="/faq.html"><span>F.A.Q.</span></a></li>
        </ul>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <h1>Документы</h1>
        <hr>
        <p>
          Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в
          определенной тематике под «свою» целевую аудиторию. Выполнение данных условий необходимо для полноценного ранжирования в поисковых системах и наибольшей конверсии.
        </p>
        <div class="aside">
          <div class="aside__section">
            <div class="aside__header">Средняя стоимость:</div>
            <div class="aside__price">
              <div class="price">от 40 000 руб.</div>
            </div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Срок разработки:
              <div class="progress-bar" data-progress="30"></div>
            </div>
            <div class="aside__text">от 3 месяцев</div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Используеммые CMS:</div>
            <div class="aside__cms-list"><img src="/img/logo-bitrix.png"><img src="/img/logo-opencart.png"><img src="/img/logo-modx.png"></div>
          </div>
        </div>
        <div class="document-table">
          <div class="document-table__header">
            <div class="document-table__label">Тип услуги</div>
            <div class="document-table__links">Скачать</div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Сайт для продвижения</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Адаптивная верстка</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Адаптивная верстка</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Клиентская поддержка</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Мониторинг ошибок и вирусов</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
          <div class="document-table__row">
            <div class="document-table__label">Usability-аудит  внедрение</div>
            <div class="document-table__links"><a class="btn--download" href="#">Презентация.pdf</a><a class="btn--download" href="#">Договор.doc</a><a class="btn--download" href="#">ПРИМЕР ОТЧЕТА.XLS</a></div>
          </div>
        </div>
        <div class="portfolio-anons">
          <div class="row center-xs">
            <div class="col"><a class="btn--red" href="#">Смотреть портфолио</a></div>
          </div>
          <div class="portfolio-anons__list"><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-01.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-02.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-03.png"></a></div>
        </div>
      </div>
    </div>
    <!--block footer-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>

src/documents.pug
extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Документы
  block content-top
    h1 Документы
    hr
    p
      | Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в
      | определенной тематике под «свою» целевую аудиторию. Выполнение данных условий необходимо для полноценного ранжирования в поисковых системах и наибольшей конверсии.
  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='30')
        .aside__text от 3 месяцев
      .aside__section
        .aside__header Используеммые CMS:
        .aside__cms-list
          img(src='/img/logo-bitrix.png')
          img(src='/img/logo-opencart.png')
          img(src='/img/logo-modx.png')
  block content
    .document-table
      .document-table__header
        .document-table__label Тип услуги
        .document-table__links Скачать
      .document-table__row
        .document-table__label Сайт для продвижения
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Адаптивная верстка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Адаптивная верстка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Клиентская поддержка
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Мониторинг ошибок и вирусов
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
      .document-table__row
        .document-table__label Usability-аудит  внедрение
        .document-table__links
          a.btn--download(href='#') Презентация.pdf
          a.btn--download(href='#') Договор.doc
          a.btn--download(href='#') ПРИМЕР ОТЧЕТА.XLS
  block content-bottom
    include ./layout/block/portfolio
