src/faq.pug
extends ./layout/base.pug
include ./layout/header.pug
  block title
    | faq
  block content-top
    h1 F.A.Q.
    p Часто задаваемые вопросы по услуге <b>«Сайт для продвижения»</b>
  block content-aside
    .aside
      .col-xs-12
        .aside__header Ответы на вопросы <br> по услуге:
        ul.aside-menu
          li: a(href='#') Сайт для <br> продвижения
          li: a(href='#') Адаптивная <br> верстка
          li: a(href='#') Базовая поддержка
          li: a(href='#') Клиентская поддержка
  block content
    .faq
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            | Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Переносятся ли часы или они сгорают?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle Какие задачи не выполняются?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
      .faq__item
        .faq__item-heading.js-toggle В чем Преимущество и Выгода базовой поддержки?
        .faq__item-content
          p
            |  Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
            | программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
  block content-bottom
    include ./layout/block/portfolio

build/faq.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__top"><a class="humburger js-hmb" href="#">Закрыть</a><a class="site-header__logo" href="/"><img src="/img/template/logo.png"></a></div>
      <div class="site-header__menu-wrapper js-main-menu">
        <ul class="main-menu">
          <li><a class="main-menu__tile main-menu__tile--site" href="/site.html">Сайт для продвижения</a></li>
          <li><a class="main-menu__tile main-menu__tile--adaptive" href="/adaptive.html">Адаптивная верстка</a></li>
          <li class="is-parent"><a class="main-menu__tile main-menu__tile--support" href="#">Техподдержка</a>
            <ul class="main-menu__second-lvl">
              <li><a class="main-menu__child-link" href="/base.html"><span>Базовая поддержка</span></a></li>
              <li><a class="main-menu__child-link" href="/client.html"><span>Клиентская поддержка</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="additional-menu">
          <li><a class="additional-menu__link" href="#"><span>Мониторинг <br> ошибок и вирусов</span></a></li>
          <li><a class="additional-menu__link" href="#"><span>Usability-аудит <br>И внедрение</span></a></li>
          <li><a class="additional-menu__link" href="/portfolio.html"><span>Портфолио</span></a></li>
          <li><a class="additional-menu__link" href="/documents.html"><span>Документы</span></a></li>
          <li><a class="additional-menu__link" href="/faq.html"><span>F.A.Q.</span></a></li>
        </ul>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <h1>F.A.Q.</h1>
        <p>Часто задаваемые вопросы по услуге <b>«Сайт для продвижения»</b></p>
        <div class="aside">
          <div class="col-xs-12">
            <div class="aside__header">Ответы на вопросы <br> по услуге:</div>
            <ul class="aside-menu">
              <li><a href="#">Сайт для <br> продвижения</a></li>
              <li><a href="#">Адаптивная <br> верстка</a></li>
              <li><a href="#">Базовая поддержка</a></li>
              <li><a href="#">Клиентская поддержка</a></li>
            </ul>
          </div>
        </div>
        <div class="faq">
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Переносятся ли часы или они сгорают?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">В чем Преимущество и Выгода базовой поддержки?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">В чем Преимущество и Выгода базовой поддержки?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">В чем Преимущество и Выгода базовой поддержки?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">Какие задачи не выполняются?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-heading js-toggle">В чем Преимущество и Выгода базовой поддержки?</div>
            <div class="faq__item-content">
              <p>
                 Вебмастера, Дизайнеры, Копирайтеры выполняют любые задачи.  Программисты выполняют любые задачи на
                программную доработку проектов, кроме исключений: Не выполняются работы на редких CMS: ASP, Perl, Flash, Питон, Ruby.
              </p>
            </div>
          </div>
        </div>
        <div class="portfolio-anons">
          <div class="row center-xs">
            <div class="col"><a class="btn--red" href="#">Смотреть портфолио</a></div>
          </div>
          <div class="portfolio-anons__list"><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-01.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-02.png"></a><a class="portfolio-anons__item" href="#"><img src="/img/portfolio-03.png"></a></div>
        </div>
      </div>
    </div>
    <!--block footer-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
