src/portfolio-page.pug
extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Редизайн сайта «Перчина»
  block content-top
    .breadcrumbs
      a(href='#').return-link Назад портфолио
    h1 Редизайн сайта «Перчина»
    hr
    p Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.
  block content-aside
    .aside
      .aside__section
        .aside__header Этапы создания:
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='10' data-theme='red')#bar-01
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 10
                .round-progress-bar__text
                  | дней
          .aside__counter-name Аналитика
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='35' data-theme='red')
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 14
                .round-progress-bar__text
                  | дней
          .aside__counter-name Прототипы и дизайн
        .aside__counter-wrapper
          .aside__counter
            .round-progress-bar(data-progress='50' data-theme='red')
              | <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
              | <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
              | <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
              | </svg>
              .round-progress-bar__value
                .text-value
                  | 24
                .round-progress-bar__text
                  | дней
          .aside__counter-name Программи-рование
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='30')
        .aside__text 2 месяца
        .aside__header Сделано на CMS:
        .aside__cms-list
          img(src='/img/logo-opencart.png')
      .aside__section
        .aside__header Рассчитать стоимость похожего проекта:
        a.btn--white РАссчет стоимости
  block content
    img(src='/img/pf-01.png')
    img.portfolio-img(src='/img/pf-02.png')

    .portfolio-more
      .portfolio-more__title Еще наши работы:
      .portfolio.row
        .col-xs-12.col-md-6
          a.portfolio__item(href='#')
            .portfolio__item-img
              img(src='/img/portfolio-01.png')
            .portfolio__item-title Редизайн сайта Perchina.ru
        .col-xs-12.col-md-6
          a.portfolio__item(href='#')
            .portfolio__item-img
              img(src='/img/portfolio-02.png')
            .portfolio__item-title Редизайн сайта Perchina.ru
  block content-bottom

build/portfolio-page.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редизайн сайта «Перчина»
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__top"><a class="humburger js-hmb" href="#">Закрыть</a><a class="site-header__logo" href="/"><img src="/img/template/logo.png"></a></div>
      <div class="site-header__menu-wrapper js-main-menu">
        <ul class="main-menu">
          <li><a class="main-menu__tile main-menu__tile--site" href="/site.html">Сайт для продвижения</a></li>
          <li><a class="main-menu__tile main-menu__tile--adaptive" href="/adaptive.html">Адаптивная верстка</a></li>
          <li class="is-parent"><a class="main-menu__tile main-menu__tile--support" href="#">Техподдержка</a>
            <ul class="main-menu__second-lvl">
              <li><a class="main-menu__child-link" href="/base.html"><span>Базовая поддержка</span></a></li>
              <li><a class="main-menu__child-link" href="/client.html"><span>Клиентская поддержка</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="additional-menu">
          <li><a class="additional-menu__link" href="#"><span>Мониторинг <br> ошибок и вирусов</span></a></li>
          <li><a class="additional-menu__link" href="#"><span>Usability-аудит <br>И внедрение</span></a></li>
          <li><a class="additional-menu__link" href="/portfolio.html"><span>Портфолио</span></a></li>
          <li><a class="additional-menu__link" href="/documents.html"><span>Документы</span></a></li>
          <li><a class="additional-menu__link" href="/faq.html"><span>F.A.Q.</span></a></li>
        </ul>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <div class="breadcrumbs"><a class="return-link" href="#">Назад портфолио</a></div>
        <h1>Редизайн сайта «Перчина»</h1>
        <hr>
        <p>Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.</p>
        <div class="aside">
          <div class="aside__section">
            <div class="aside__header">Этапы создания:</div>
            <div class="aside__counter-wrapper">
              <div class="aside__counter">
                <div class="round-progress-bar" data-progress="10" data-theme="red" id="bar-01">
                  <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
                  <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
                  </svg>
                  <div class="round-progress-bar__value">
                    <div class="text-value">10</div>
                    <div class="round-progress-bar__text">дней</div>
                  </div>
                </div>
              </div>
              <div class="aside__counter-name">Аналитика</div>
            </div>
            <div class="aside__counter-wrapper">
              <div class="aside__counter">
                <div class="round-progress-bar" data-progress="35" data-theme="red">
                  <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
                  <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
                  </svg>
                  <div class="round-progress-bar__value">
                    <div class="text-value">14</div>
                    <div class="round-progress-bar__text">дней</div>
                  </div>
                </div>
              </div>
              <div class="aside__counter-name">Прототипы и дизайн</div>
            </div>
            <div class="aside__counter-wrapper">
              <div class="aside__counter">
                <div class="round-progress-bar" data-progress="50" data-theme="red">
                  <svg class='round-progress-bar__svg'  width="70" height="70" viewPort="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" stroke-dashoffset="0"></circle>
                  <circle class="bar" r="31" cx="35" cy="35" fill="transparent" stroke-dasharray="194.77" style='stroke-dashoffset: 194.77px'></circle>
                  </svg>
                  <div class="round-progress-bar__value">
                    <div class="text-value">24</div>
                    <div class="round-progress-bar__text">дней</div>
                  </div>
                </div>
              </div>
              <div class="aside__counter-name">Программи-рование</div>
            </div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Срок разработки:
              <div class="progress-bar" data-progress="30"></div>
            </div>
            <div class="aside__text">2 месяца</div>
            <div class="aside__header">Сделано на CMS:</div>
            <div class="aside__cms-list"><img src="/img/logo-opencart.png"></div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Рассчитать стоимость похожего проекта:</div><a class="btn--white">РАссчет стоимости</a>
          </div>
        </div><img src="/img/pf-01.png"><img class="portfolio-img" src="/img/pf-02.png">
        <div class="portfolio-more">
          <div class="portfolio-more__title">Еще наши работы:</div>
          <div class="portfolio row">
            <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="#">
                <div class="portfolio__item-img"><img src="/img/portfolio-01.png"></div>
                <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
            <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="#">
                <div class="portfolio__item-img"><img src="/img/portfolio-02.png"></div>
                <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          </div>
        </div>
      </div>
    </div>
    <!--block footer-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
