src/portfolio.pug
extends ./layout/base.pug
include ./layout/header.pug
  block title
    | Портфолио
  block content-top
    h1 Портфолио
    hr
    p Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.
  block content-aside
    .aside
      .aside__section
        .aside__header Средняя стоимость:
        .aside__price
          .price от 40 000 руб.
      .aside__section
        .aside__header Срок разработки:
          .progress-bar(data-progress='78')
        .aside__text от 3 месяцев
      .aside__section
        .aside__header Используеммые CMS:
        .aside__cms-list
          img(src='/img/logo-bitrix.png')
          img(src='/img/logo-opencart.png')
          img(src='/img/logo-modx.png')
  block content
    .portfolio.row
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-01.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
      .col-xs-12.col-md-6
        a.portfolio__item(href='/portfolio-page.html')
          .portfolio__item-img
            img(src='/img/portfolio-02.png')
          .portfolio__item-title Редизайн сайта Perchina.ru
    .portfolio__footer.row.center-xs
      a.btn--white(href='#') ПОКАЗАТЬ ЕЩЕ
  block content-bottom

build/portfolio.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфолио
    </title>
    <meta description="" content="">
    <meta keywords="" content="">
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__top"><a class="humburger js-hmb" href="#">Закрыть</a><a class="site-header__logo" href="/"><img src="/img/template/logo.png"></a></div>
      <div class="site-header__menu-wrapper js-main-menu">
        <ul class="main-menu">
          <li><a class="main-menu__tile main-menu__tile--site" href="/site.html">Сайт для продвижения</a></li>
          <li><a class="main-menu__tile main-menu__tile--adaptive" href="/adaptive.html">Адаптивная верстка</a></li>
          <li class="is-parent"><a class="main-menu__tile main-menu__tile--support" href="#">Техподдержка</a>
            <ul class="main-menu__second-lvl">
              <li><a class="main-menu__child-link" href="/base.html"><span>Базовая поддержка</span></a></li>
              <li><a class="main-menu__child-link" href="/client.html"><span>Клиентская поддержка</span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="additional-menu">
          <li><a class="additional-menu__link" href="#"><span>Мониторинг <br> ошибок и вирусов</span></a></li>
          <li><a class="additional-menu__link" href="#"><span>Usability-аудит <br>И внедрение</span></a></li>
          <li><a class="additional-menu__link" href="/portfolio.html"><span>Портфолио</span></a></li>
          <li><a class="additional-menu__link" href="/documents.html"><span>Документы</span></a></li>
          <li><a class="additional-menu__link" href="/faq.html"><span>F.A.Q.</span></a></li>
        </ul>
      </div>
    </header>
    <div class="site-content">
      <div class="inner">
        <h1>Портфолио</h1>
        <hr>
        <p>Разработка сайта для продвижения. Интернет-проект разрабатывается с учетом необходимых SEO и Usability аспектов в определенной тематике под «свою» целевую аудиторию.</p>
        <div class="aside">
          <div class="aside__section">
            <div class="aside__header">Средняя стоимость:</div>
            <div class="aside__price">
              <div class="price">от 40 000 руб.</div>
            </div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Срок разработки:
              <div class="progress-bar" data-progress="78"></div>
            </div>
            <div class="aside__text">от 3 месяцев</div>
          </div>
          <div class="aside__section">
            <div class="aside__header">Используеммые CMS:</div>
            <div class="aside__cms-list"><img src="/img/logo-bitrix.png"><img src="/img/logo-opencart.png"><img src="/img/logo-modx.png"></div>
          </div>
        </div>
        <div class="portfolio row">
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-01.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-02.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-01.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-02.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-01.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-02.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-01.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
          <div class="col-xs-12 col-md-6"><a class="portfolio__item" href="/portfolio-page.html">
              <div class="portfolio__item-img"><img src="/img/portfolio-02.png"></div>
              <div class="portfolio__item-title">Редизайн сайта Perchina.ru</div></a></div>
        </div>
        <div class="portfolio__footer row center-xs"><a class="btn--white" href="#">ПОКАЗАТЬ ЕЩЕ</a></div>
      </div>
    </div>
    <!--block footer-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/lib.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
